.filter-button {
  padding-top: 94px;
  display: flex;
  flex-grow: 1;
  width: 572px;
  max-width: 50%;
  margin-top: 94px;
  justify-content: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
  align-content: center;
}

.filter-button__list {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: var(--lightblue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
