.social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;

  &__svg {
    display: flex;
    align-items: center;
    fill: #afb1b8;
    border-radius: 50%;
    transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__svg:hover,
  &__svg:focus {
    cursor: pointer;
    fill: var(--white);
    background-color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .social-links {
    display: flex;
    align-items: center;
    align-content: space-between;
    gap: 10px;
    margin-left: 32px;
    margin-bottom: 30px;

    &__svg {
      display: flex;
      align-items: center;
      fill: #afb1b8;
      border-radius: 50%;
      transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__svg:hover,
    &__svg:focus {
      cursor: pointer;
      fill: var(--white);
      background-color: #2196f3;
    }
  }
}
