*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  width: 100vw;
}

ul {
  list-style-type: none;
}

h4 {
  color: #212121;
  font-weight: bold;
  margin-top: 30px;
}
h2 {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  padding-top: 94px;
}
