

:root {
  --lightblue: #2196f3;
  --white: #ffffff;
  --white-secondary: #f5f4fa;
  --grey: #2f303a;
  --black: #212121;
  --light-grey: #757575;
  --light-grey-secondary: #afb1b8;
  --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
